# npm 包的淘宝镜像源
registry=https://registry.npmmirror.com/
# node 二进制包镜像
disturl=https://npmmirror.com/dist
# node-sass 二进制包镜像
sass_binary_site=https://npmmirror.com/mirrors/node-sass/
# phantomjs 二进制包镜像
phantomjs_cdnurl=https://npmmirror.com/mirrors/phantomjs/
# electron 二进制包镜像
electron_mirror=https://npmmirror.com/mirrors/electron/
# chrome driver 二进制包镜像
chromedriver_cdnurl=https://npmmirror.com/mirrors/chromedriver
# opera driver 二进制包镜像
operadriver_cdnurl=https://npmmirror.com/mirrors/operadriver
# selenium 二进制包镜像
selenium_cdnurl=https://npmmirror.com/mirrors/selenium
# node inspector 二进制包镜像
node_inspector_cdnurl=https://npmmirror.com/mirrors/node-inspector
# fsevents 二进制包镜像（macOS 系统需要）
fsevents_binary_host_mirror=https://npmmirror.com/mirrors/fsevents/
